<h1>About</h1>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
My cooking skills are limited. I am also trying to improve my programming skills. So I thought I'd
kill two birds with one stone and make a website about learning how to cook. Enjoy!
</blockquote>
