<h1>Ingredients</h1>

<h2 style="font-style:italic;">Raw Cacao Powder</h2>
<h5>Why?</h5>
<p> Super trendy at the moment. High in antioxidants, and minerals such as magnesium and iron.</p>
<h5>How?</h5>
<p>Made from cacao beans. Milled into a fine powder at low temperatures, which maximises the preservation of nutrients
  and flavour</p>
<h5>Sensory profile</h5>
<p>Chocolatey with a bitter after taste. </p>
<h5>References</h5>
<li>http://navitasnaturals.com/product/441/Cacao-Powder.html</li>
<li>Natural news- http://www.naturalnews.com/041916_cacao_scientific_research_health_benefits.html</li>
<li>'The effectiveness and cost effectiveness of dark chocolate consumption as prevention therapy in people at high risk of cardiovascular disease'- https://www.ncbi.nlm.nih.gov/pubmed/22653982</li>
<h2 style="font-style:italic;">Avocado</h2>
<h5>Why?</h5>
<p> High level of antioxidants and high fibre content. Also assists in the absorption of carotenoids
of other vegetables like lettuce, carrot, spinach and others. </p>
<p>Two thirds of fat in avocado is monounsaturated fat- contributes to lowering cholestrol levels. Low in salt, excellent source of folate. </p>
<h5>How?</h5>
<p>Grown in Australia. Peak season is March to September, but available all year round.</p>
<h5>Sensory profile</h5>
<p>Soft, quite bland. More of a base type ingredient. Used as a substitute for dairy products.</p>
<h5>References</h5>
<li>http://daa.asn.au/for-the-public/smart-eating-for-you/nutrition-a-z/avocados/</li>
<li>http://www.nutritionsecrets.com/how-much-avocado-eat-daily/</li>
<h2 style="font-style:italic;">Cottage cheese</h2>
<h5>Why?</h5>
<p>Low carb, high in protein. </p>
<h5>How?</h5>
<p>You can actually make your own. Apparently it's pretty easy.</p>
<h5>Sensory profile</h5>
<p>Tastes a bit more like yoghurt, which was a bit disappointing for a type of cheese. Again, more of a base type ingredient.</p>
<h5>References</h5>
