// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

static_pages img {
  width: 150px;
  height: 150px;
}

dresses img {
  width: 100px;
}
