// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-heading {
  font-size: 150px;
  font-weight: bold;
  font-family: monospace;
  width: 100%;
}

img {
  width: 40%;
  height: 60%;
  margin-left: 350px;
}
