/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* line 5, /Users/christinakumar/workspace/library/app/assets/stylesheets/static_pages.scss */
.main-page {
  width: 100%;
  height: 100%;
}

/* line 9, /Users/christinakumar/workspace/library/app/assets/stylesheets/static_pages.scss */
#main-heading {
  margin-top: 15%;
  font-size: 150px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}

/* line 16, /Users/christinakumar/workspace/library/app/assets/stylesheets/static_pages.scss */
.main-image {
  margin: 0 auto;
  background: url(/assets/cat-460a19e25c535dca7b5af22946058c0abd9787bf31c21647a0f01baa9c9a8608.jpg);
  background-size: 100% 100%;
  background-position: center;
  width: 30%;
  height: 45%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


html,body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}
