<h1>Index</h1>
<ul><%=link_to "Create Animal", new_animal_path, class:"btn btn-success"%></ul>
<%@animals.each do |animal|%>
<%=link_to animal.name, animal_path(animal,age:"20")%>
<%=animal.description%>
<%end%>
