<h1><%=@animal.name%></h1>
<p><%=@animal.description%></p>
<%= image_tag(@image_url, :alt => "animal") %>
<ul><%= link_to "Edit Animal", edit_animal_path(@animal), class:"btn btn-info"%></ul>
<ul><%=link_to "Go back to index", animals_path, class:"btn btn-info" %></ul>
<ul><%=link_to "Delete Animal",animal_path(@animal),class:"btn btn-info",
method: :delete, data: { confirm: "Are you sure you want to delete this animal?"}%></ul>
<ul><%=link_to "Home", root_path, class:"btn btn-info"%></ul>
