<div class="btn-group-vertical">
  <ul><%=link_to "About", about_path %></ul>
  <ul><%=link_to "Ingredients", ingredients_path %></ul>
  <ul><%=link_to "Animals", animals_path %></ul>
  <ul>Articles</ul>
  <ul><%=link_to "Contact", contact_path %></ul>
  <ul><%=link_to "Post", post_path %></ul>
</div>
