<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">myFoodDiaries</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%=link_to "Home", root_path%></li>
      <li><%=link_to "About", about_path%></li>
      <li><%=link_to "Contact", contact_path%></li>
    </ul>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>
