<!DOCTYPE html>
<html>
  <head>
    <title>myFoodDiaries</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body class='<%=controller.controller_name%>'>
    <%=render partial:"layouts/header"%>
    <div class="row">
      <div class="col-sm-1">
        <% if action_name != "home"%>
          <%=render partial:"layouts/column"%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
